.welcomeHeader {
    display: inline;
}
.welcomeHeaderIcon {
    display: inline-block;
    height: auto;
    max-width: 7%;
}
.welcomeHeaderIconHead {
    transform: scaleX(-1);

}
.welcomeHeaderText {
    display: inline-block;
    font-size: 4vw;
    color: blueviolet;
    font-weight: lighter;
    margin: auto;
}