.welcomeHeader {
    display: inline;
}
.welcomeHeaderIcon {
    display: inline-block;
    height: auto;
    max-width: 10%;
}
.welcomeHeaderIconHead {
    transform: scaleX(-1);

}
.welcomeHeaderText {
    display: inline-block;
    font-size: 5rem;
    color: blueviolet;
    font-weight: lighter;
}