.current-product-image-page-half {
    width: 50%;
    float: left;
}

.current-product-image {
    width: 100%;
    align-self: center;
    border-radius: 10%;
}

.current-product-info-page-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.current-product-text {
    float: left;
    align-content: center;
    margin-left: 20px;
    color: black;
}

.current-product-title {
    font-size: 4vw;
    font-style: italic;
}

.current-product-price {
    font-size: 35px;
}

.current-product-description {
    font-size: 1.5vw;
    font-family: Verdana, Tahoma, sans-serif;
}
.current-product-blurb {
    font-size: 1vw;
    font-family: Verdana, Tahoma, sans-serif;
    font-style: italic;
}

.current-product-add-to-cart-button {
    font-size: 2vw;
}

.current-product-add-to-cart-button:hover {
    background-color: green;
}