.current-product {
    justify-items: center;
    margin-left: 50px;
}
.current-product-image-page-half {
    width: 50%;
    float: left;
}

.current-product-image {
    width: 100%;
    align-self: center;
    border-radius: 10%;
}

.current-product-info-page-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-product-text {
    float: left;
    align-content: center;
    margin-left: 20px;
    color: black;
}

.current-product-title {
    font-size: 50px;
    font-style: italic;
}

.current-product-price {
    font-size: 35px;
}

.current-product-description {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}

.current-product-add-to-cart-button {
    font-size: 50px;
}
.current-product-add-to-cart-button:focus {
    background-color: green;
}
.current-product-add-to-cart-button:hover {
    background-color: green;
}