.contact-page {
  align-items: center;
}
.contact-page-welcome-text{
    font-weight: lighter;
    font-family:'Dancing Script', cursive;
    font-size: 2.5vw;
}

.contact-page-form{
    width: 60%;
    margin: auto;
    align-items: center;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blueviolet;
    border-radius: 4px;
    width: 100%;
  }
  textarea {
    border: 2px solid blueviolet;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    outline: none;
    width: 100%;
  }

  button{
    background-color: blueviolet;
    color: white;
    border-radius: 4px;
    font-family:'Dancing Script', cursive;
    font-size: 3vw;

  }

  label{
    font-size: 2vw;
  }

.contact-page-include-cart-checkbox{
  display: grid;
    grid-template-columns: .7fr .3fr;
    justify-items: right;
}

input[type='checkbox'] {
  height: 50%;
}


.contact-page-submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page-submit-button{
  margin-top: 10px;
  display: block;
}