.contact-page {
  align-items: center;
}

.contact-page-welcome-text {
  font-family: var(--main-text-font);
  font-size: 2.5vw;
  font-weight: lighter;
}

.contact-page-form {
  align-items: center;
  margin: auto;
  width: 60%;
}

input {

  border: 2px solid var(--main-header-text-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

textarea {
  border: 2px solid var(--main-header-text-color);
  border-radius: 4px;
  font-family: var(--main-descriptive-text-font);
  font-weight: lighter;
  font-size: 1.5vw;
  outline: none;
  width: 100%;
}

button{
  background-color: var(--main-button-color);
  border-radius: 4px;
  color: var(--main-button-text-color);
  font-family: var(--main-text-font);
  font-size: 3vw;
}

label {
  color: var(--main-header-text-color);
  font-size: 2vw;
}

.contact-page-include-cart-checkbox {
  display: grid;
  grid-template-columns: .7fr .3fr;
  justify-items: right;
}

input[type='checkbox'] {
  height: 50%;
}


.contact-page-submit-section {
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact-page-submit-button{
  display: block;
  margin-top: 10px;
}