.Gallery {
    margin-top: 25px;
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.GalleryImage {
  height: 500px;
  border-radius: 10%;
}
