.gallery-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
    /* margin-top: 25px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); */
}

.gallery-image-a {
  width: 30%;
}

.gallery-image-img{
  width: 100%;
}
