.current-product-image-page-half {
    float: left;
    width: 50%;
}

.current-product-image {
    align-self: center;
    border-radius: 10%;
    width: 100%;
}

.current-product-info-page-half {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.current-product-text {
    align-content: center;
    float: left;
    margin-left: 20px;
}

.current-product-title {
    color: var(--main-header-text-color);
    font-size: 4vw;
    font-style: italic;
}

.current-product-price {
    font-size: 35px;
}

.current-product-description {
    color: var(--main-text-color);
    font-family: var(--main-descriptive-text-font);
    font-size: 1.5vw;

}
.current-product-blurb {
    color: var(--main-text-color);
    font-family:  var(--main-descriptive-text-font);
    font-size: 1vw;
    font-style: italic;
}

.current-product-add-to-cart-button {
    font-size: 2vw;
}
