.shopping-cart-box {
    background-color:var(--main-box-color);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: 80%;
}

.shopping-cart-items {
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: 2%;
    margin-bottom: 2%;
}

.shopping-cart-checkout-button {
    font-size: 2.5vw;
}

.shopping-cart-empty {
    color: var(--main-header-text-color);
    font-size: 2.5vw;
    margin-top: 5%;
}