.cart-item-counter {
    margin: 0 auto
}

.cart-item-counter-value {
    font-size: 2vw;
    font-weight: bold;
    margin:5px;
}
.cart-item-counter-button {
    height: 2.5vw;
    line-height: 0px;
    padding: 0px;
    text-align: center;
    width: 2.5vw;
}