.shopping-cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr .1fr;
    align-items: center;

}

.shopping-cart-item-img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.shopping-cart-item-title {
    color: blueviolet;
    font-size: 32px;
}
.shopping-cart-item-title:hover {
    color: black;
}

.shopping-cart-item-title-link {
    text-decoration: none;
}

.shopping-cart-remove-button {
    font-size: 1em;
}
.shopping-cart-remove-button:hover {
    color: red;
}