.shopping-cart-box {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
}

.shopping-cart-items {
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: 2%;
    margin-bottom: 2%;
}

.shopping-cart-checkout-button{
    font-size: 2.5vw;
}

.shopping-cart-empty {
    font-size: 2.5vw;
    margin-top: 5%;
    color: blueviolet;
}