.shopping-cart-item {
    display: grid;
    /* grid-template-columns: 1fr 1fr .5fr .5fr .1fr; */
    grid-template-columns: 1fr 1fr .5fr .15fr .25fr;
    align-items: center;
    justify-content: center;
}

.shopping-cart-item-img-link{
    width: 100%;
    height: 100%;
}
.shopping-cart-item-img {
    width: 50%;
    border-radius: 10%;
}

.shopping-cart-item-title {
    color: blueviolet;
    font-size: 3vw;
}
.shopping-cart-item-title:hover {
    color: black;
}

.shopping-cart-item-title-link {
    text-decoration: none;
}

.shopping-cart-remove-button {
    font-size: 1.5vw;
}
.shopping-cart-remove-button:hover {
    color: red;
}