.nav-bar {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:blueviolet;
  }

.nav-bar-item {
    background: transparent;
    /* background: linear-gradient(90deg, rgb(110,92,254) 0%, rgba(73,63,252,1) 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-bar-item:hover {
    color: black;
  }

  .nav-bar-item:focus {
    color: black;
  }

  .nav-bar-cart-icon {

  }

  .nav-bar-cart-icon:hover {
    color: green;
  }
  .material-icons.cart {
    text-decoration: none;
    color: inherit;
    font-size: 4vw;
  }

   .nav-bar-cart-size {
    color: blueviolet;
    font-size: .75vw;
    font-weight: bolder;
  } 