.nav-bar {
  align-items: center;
  color: var(--main-header-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

.nav-bar-item {
  align-items: center;
  background: transparent;
  color: inherit;
  display: flex;
  font-size: 3vw;
  justify-content: center;
  text-decoration: none;
  }

.nav-bar-item:hover{
  color: var(--main-hover-color);
}

.material-icons.cart {
  color: inherit;
  font-size: 4vw;
  text-decoration: none;
}

.material-icons.cart:hover {
  color: var(--main-hover-color);
  font-size: 4vw;
  text-decoration: none;
}

.nav-bar-cart-size {
  color: inherit;
  font-size: .75vw;
  font-weight: bolder;
}