.product-pictures {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-pictures-image {
    align-self: center;
    border-radius: 10%;
    width: 60%;
}

.material-icons {
    color: var(--main-button-color);
    cursor: pointer;
    font-size: 3vw;
}

.material-icons:hover {
    color: var(--main-hover-color);
}

.material-icons.rotate-left-button {
    transform: scaleX(-1)  rotate(100deg);
}

.material-icons.rotate-right-button {
    transform: rotate(100deg);
}