.product-pictures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-pictures-image {
    width: 60%;
    align-self: center;
    border-radius: 10%;
}

.material-icons.rotate-left-button {
    color: blueviolet;
    font-size: 3vw;
    transform: scaleX(-1)  rotate(100deg);
}

.material-icons.rotate-right-button {
    color: blueviolet;
    font-size: 3vw;
    transform: rotate(100deg);
}