.App {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-family: 'Sacramento', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item {
  background: transparent;
  /* background: linear-gradient(90deg, rgb(110,92,254) 0%, rgba(73,63,252,1) 100%); */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-decoration: none;
  color: blueviolet;
}

.nav-item:focus, :hover {
  color: black;
}

.navigation-sub {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  
}

