:root {
  --main-box-color:lightgrey;
  --main-button-color: blueviolet;
  --main-button-text-color: white;
  --main-header-text-color: blueviolet;
  --main-hover-color: rgb(80,0,120);
  --main-text-color: black;

  --main-descriptive-text-font: Verdana, Tahoma, sans-serif;
  --main-header-text-font: 'Sacramento', cursive;
  --main-text-font: 'Dancing Script', cursive;
}

.App {
  text-align: center;
  font-family: var(--main-header-text-font);
  background-color: white;
}

button:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

a:hover {
  color: var(--main-hover-color);
}